.sidebarContainer{
    max-width: 408px;
    width: 100%;
    height: 862px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    position: sticky;
    top: 108px;
    left: 32px;
    border-radius: 8px;
    margin: 20px;
}
.filterContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 360px;
    width: 100%;
}
.filterTitle{
    color:var(--text-primary-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.searchContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 360px;
    width: 100%;
}
.searchInput{
    max-width: 360px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #E1E3E6 ;

}
.searchInput:focus{
    outline-color: #FF5500 ;
}

.filterBlock{
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 360px;
    width: 100%;
}
.filterLabel{
    color: var(--text-primary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.filter{
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid #E1E3E6 ;
    cursor: pointer;
}
.filterText{

    color: #999FA6;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    
}