.cartWrapper{
    padding:24px;
}
.cardsAndTotal{
    min-height: 865px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartContent{
    display: flex;
    flex-direction: column;
}
.totalTicketQuantity{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    align-items:center;
    margin-top: auto;
}
.totalTicketQuantity h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
.totalTicketQuantity p{
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
