.content{
    display: flex;
    flex-direction: row;
    position: relative; 
    justify-content: space-between;
    max-width: 1875px;
    width: 100%;
}
.filterWrapper{
  max-width: 408px;
  width: 100%;
  height: 862px;
  background-color: #FFFFFF;
  padding: 24px;
  display: flex;
  position: sticky;
  top: 108px;
  left: 32px;
  border-radius: 8px;
  margin: 20px;
}
.contentSelectWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 360px;
  width: 100%;
}
.selectWrapper{
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.select{
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
}
.select input{
    padding: 10px 16px;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    color: #1B1F23;
}


.movieCardsWrapper{
  width: 1424px;
  overflow-y: auto;
  height: auto;
}

/* dropdown */

  
  .dropdownMenu li {
    padding: 12px 12px 10px;
    cursor: pointer;
    color:#000;
  }
  .dropdownMenu li:last-child {
    padding: 12px 12px 12px;
    cursor: pointer;
    color:#000;
  }
  .dropdownMenu li:hover {
    background-color: #f0f0f0;
  }
  
  .dropdownToggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    line-height: 16px;
  }
  
  .dropdownToggle:hover {
    background-color: #f0f0f0;
  }
  
  .rotate{
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    color: black;
  }
  
  .dropdownArrow img{
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease; 
  }

  .contentSelectWrapper {
    position: sticky;
    top: 108px;
    background-color: #ffffff;
    z-index: 1;
  }

  .allGenres {
    color: #999FA6;
  }
  .allCinemas{
    color: #999FA6;
  }